# <font color="purple"><h3 align="center">Different Ways Of Creating Dataframe</h3></font>

## <font color="green">Using csv</h3></font>

In [21]:
#create data as csv
import pandas as pd
df = pd.read_csv(r"C:\Users\kirol\OneDrive\Desktop\sales_data(csv).csv")
df

   ProductID ProductName  UnitPrice  UnitsSold  TotalSales
0        101    Keyboard      25.99        120      3118.8
1        102       Mouse      12.50        200      2500.0
2        103     Monitor     189.99         50      9499.5
3        104  Headphones      49.99         80      3999.2
4        105     Printer     149.99         30      4499.7

## <font color="green">Using excel</h3></font>

In [20]:
import pandas as pd

# Use pd.read_excel() to read the Excel file
df = pd.read_excel(r"C:\Users\kirol\OneDrive\Desktop\sales_data2.xlsx")
df

   ProductID ProductName  UnitPrice  UnitsSold  TotalSales
0        101    Keyboard      25.99        120      3118.8
1        102       Mouse      12.50        200      2500.0
2        103     Monitor     189.99         50      9499.5
3        104  Headphones      49.99         80      3999.2
4        105     Printer     149.99         30      4499.7

## <font color="green">Using dictionary</h3></font>

In [4]:
# Creating a dictionary with sales data
sales_data = {
    'ProductID': [101, 102, 103, 104, 105],
    'ProductName': ['Keyboard', 'Mouse', 'Monitor', 'Headphones', 'Printer'],
    'UnitPrice': [25.99, 12.50, 189.99, 49.99, 149.99],
    'UnitsSold': [120, 200, 50, 80, 30],
    'TotalSales': [3118.80, 2500.00, 9499.50, 3999.20, 4499.70]
}

# Creating a DataFrame using the sales data
sales_df = pd.DataFrame(sales_data)
sales_df

   ProductID ProductName  UnitPrice  UnitsSold  TotalSales
0        101    Keyboard      25.99        120      3118.8
1        102       Mouse      12.50        200      2500.0
2        103     Monitor     189.99         50      9499.5
3        104  Headphones      49.99         80      3999.2
4        105     Printer     149.99         30      4499.7

## <font color="green">Using tuples list</h3></font>

In [6]:
# Creating sales data as a list of tuples
sales_data = [
    (101, 'Keyboard', 25.99, 120, 3118.80),
    (102, 'Mouse', 12.50, 200, 2500.00),
    (103, 'Monitor', 189.99, 50, 9499.50),
    (104, 'Headphones', 49.99, 80, 3999.20),
    (105, 'Printer', 149.99, 30, 4499.70)
]

# Defining column names for the sales data
columns = ['ProductID', 'ProductName', 'UnitPrice', 'UnitsSold', 'TotalSales']

# Creating a DataFrame using the sales data and specified columns
sales_df = pd.DataFrame(data=sales_data, columns=columns)
sales_df

   ProductID ProductName  UnitPrice  UnitsSold  TotalSales
0        101    Keyboard      25.99        120      3118.8
1        102       Mouse      12.50        200      2500.0
2        103     Monitor     189.99         50      9499.5
3        104  Headphones      49.99         80      3999.2
4        105     Printer     149.99         30      4499.7

## <font color="green">Using list of dictionaries</h3></font>

In [7]:

# Sales data as a list of dictionaries
sales_data = [
    {'ProductID': 101, 'ProductName': 'Keyboard', 'UnitPrice': 25.99, 'UnitsSold': 120, 'TotalSales': 3118.80},
    {'ProductID': 102, 'ProductName': 'Mouse', 'UnitPrice': 12.50, 'UnitsSold': 200, 'TotalSales': 2500.00},
    {'ProductID': 103, 'ProductName': 'Monitor', 'UnitPrice': 189.99, 'UnitsSold': 50, 'TotalSales': 9499.50},
    {'ProductID': 104, 'ProductName': 'Headphones', 'UnitPrice': 49.99, 'UnitsSold': 80, 'TotalSales': 3999.20},
    {'ProductID': 105, 'ProductName': 'Printer', 'UnitPrice': 149.99, 'UnitsSold': 30, 'TotalSales': 4499.70}
]

# Defining column names for the sales data
columns = ['ProductID', 'ProductName', 'UnitPrice', 'UnitsSold', 'TotalSales']

# Creating a DataFrame using the sales data and specified columns
sales_df = pd.DataFrame(data=sales_data, columns=columns)
sales_df

   ProductID ProductName  UnitPrice  UnitsSold  TotalSales
0        101    Keyboard      25.99        120      3118.8
1        102       Mouse      12.50        200      2500.0
2        103     Monitor     189.99         50      9499.5
3        104  Headphones      49.99         80      3999.2
4        105     Printer     149.99         30      4499.7