# <font color="purple"><h3 align="center">Pandas Concatenate Tutorial</h3></font>

## <font color='blue'>Basic Concatenation</font>

In [3]:
import pandas as pd
# Weather data for Australia
australia_weather = pd.DataFrame({
    "city": ["sydney", "melbourne", "perth"],
    "temperature": [26, 22, 30],
    "humidity": [50, 55, 45]
})
australia_weather

        city  temperature  humidity
0     sydney           26        50
1  melbourne           22        55
2      perth           30        45

In [2]:
# Weather data for Japan
japan_weather = pd.DataFrame({
    "city": ["tokyo", "osaka", "kyoto"],
    "temperature": [28, 26, 25],
    "humidity": [60, 55, 50]
})
japan_weather

    city  temperature  humidity
0  tokyo           28        60
1  osaka           26        55
2  kyoto           25        50

In [4]:
#here we concat two dataframes with each other
df = pd.concat([australia_weather, japan_weather])
df

        city  temperature  humidity
0     sydney           26        50
1  melbourne           22        55
2      perth           30        45
0      tokyo           28        60
1      osaka           26        55
2      kyoto           25        50

## <font color='blue'>Ignore Index</font>

In [5]:
#ignoring index
df = pd.concat([australia_weather, japan_weather], ignore_index=True)
df

        city  temperature  humidity
0     sydney           26        50
1  melbourne           22        55
2      perth           30        45
3      tokyo           28        60
4      osaka           26        55
5      kyoto           25        50

In [6]:
df.to_csv("concatinatedDFs.csv" , index=False)

## <font color='blue'>Concatenation And Keys</font>

In [7]:
df = pd.concat([australia_weather, japan_weather], keys=["australia", "japan"])
df

                  city  temperature  humidity
australia 0     sydney           26        50
          1  melbourne           22        55
          2      perth           30        45
japan     0      tokyo           28        60
          1      osaka           26        55
          2      kyoto           25        50

In [8]:
df.loc["japan"] #location

    city  temperature  humidity
0  tokyo           28        60
1  osaka           26        55
2  kyoto           25        50

In [9]:
df.loc["australia"]

        city  temperature  humidity
0     sydney           26        50
1  melbourne           22        55
2      perth           30        45

In [10]:
df.to_csv("newdf.csv" , index_label=True)

## <font color='blue'>Concatenation Using Index</font>

In [11]:
# Temperature data for Australian cities
temperature_df = pd.DataFrame({
    "city": ["sydney", "melbourne", "perth"],
    "temperature": [26, 22, 30],
})
temperature_df

        city  temperature
0     sydney           26
1  melbourne           22
2      perth           30

In [12]:
# Windspeed data for Australian cities
windspeed_df = pd.DataFrame({
    "city": ["melbourne", "perth"],
    "windspeed": [8, 12],
})
windspeed_df

        city  windspeed
0  melbourne          8
1      perth         12

In [13]:
df = pd.concat([temperature_df,windspeed_df])
df

        city  temperature  windspeed
0     sydney         26.0        NaN
1  melbourne         22.0        NaN
2      perth         30.0        NaN
0  melbourne          NaN        8.0
1      perth          NaN       12.0

In [14]:
df = pd.concat([temperature_df,windspeed_df], axis= 1)
df

        city  temperature       city  windspeed
0     sydney           26  melbourne        8.0
1  melbourne           22      perth       12.0
2      perth           30        NaN        NaN

## <font color='blue'>Concatenate dataframe with series</font>

In [15]:
s = pd.Series(["Humid","Dry","Rain"], name="event")

In [16]:
df = pd.concat([df,s],axis=1)
df

        city  temperature       city  windspeed  event
0     sydney           26  melbourne        8.0  Humid
1  melbourne           22      perth       12.0    Dry
2      perth           30        NaN        NaN   Rain